html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font: 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.component {
  margin: 20px 0;
  padding: 20px 0;
}
.component h2 {
  font-size: 12px;
  color: #999;
  padding: 0 0 20px;
  margin: 0;
}

.bt {
  position: relative;
  padding: 0.55em 1.5em 0.5em;
  margin: 0;
  font: bold 12px/1.5em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border: 2px solid black;
  color: black;
  background-color: transparent;
}
.bt:hover, .bt.active {
  background-color: #000;
  color: #fff;
}
.bt.disabled {
  opacity: .3;
  cursor: default;
}
.bt.disabled:hover {
  background: inherit;
  color: inherit;
}
.bt[type=submit] {
  height: 35px;
}
.bt.bt_small {
  font-size: 10px;
}
.bt.bt_small[type=submit] {
  height: 30px;
}
.bt.bt_medium {
  font-size: 14px;
}
.bt.bt_medium[type=submit] {
  height: 40px;
}
.bt.bt_large {
  font-size: 16px;
}
.bt.bt_large[type=submit] {
  height: 45px;
}

.box {
  margin-bottom: 20px;
  border: 2px solid black;
  background: transparent;
}
.box .box_head {
  min-height: 20px;
  padding: 8px 15px;
  background: black;
  color: #fff;
  position: relative;
}
.box .box_head h1, .box .box_head h2, .box .box_head h3, .box .box_head h4, .box .box_head h5, .box .box_head h6 {
  font: bold 12px/1.5em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.box .box_body {
  padding: 15px;
}
