// --- core: base -----------------------------------------------------------------------------------------------------

body
{
  font: 12px $ui-font-family;
}

.content
{
  max-width: $page-width;
  margin: 0 auto;
}
