// --- base -----------------------------------------------------------------------------------------------------------

body
{
  font: 12px $ui-font-family;
}

.content
{
  max-width: $page-width;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 640px)
{
  /* to avoid the adjustment of fonts on iOS devices you should keep this line */
  * { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

  .content
  {
    min-width: 440px;
  }

}

