body
{
  font: 12px $simpleui-font-family;
}

.content
{
  width: $page-width;
  margin: 0 auto;
}

.component
{
  margin: 20px 0;
  padding: 20px 0;

  h2
  {
    font-size: 12px;
    color: #999;
    padding: 0 0 20px;
    margin: 0;
  }
}
