// --- core: typography -----------------------------------------------------------------------------------------------

.thumb
{
  border: $ui-border-width solid $ui-base-color;
}

hr
{
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

strong, b
{
  font-weight: bold;
}
