// --- page: variables -------------------------------------------------------------------------------------------------

$page-width: 800px;


// --- simple ui: variables --------------------------------------------------------------------------------------------

$simpleui-base-color: #000 !default;
$simpleui-base-active-color: $simpleui-base-color !default;

$simpleui-text-color: $simpleui-base-color !default;
$simpleui-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;

$simpleui-border-width: 2px !default;
