// --- simple ui: variables --------------------------------------------------------------------------------------------

$page-width: 800px;

$simpleui-base-color: #000 !default;
$simpleui-base-active-color: #000 !default;

$simpleui-text-color: #000 !default;
$simpleui-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;

$simpleui-border-width: 2px;
