// --- component: box --------------------------------------------------------------------------------------------------

.box
{
  margin-bottom: 20px;
  border: $simpleui-border-width solid $simpleui-base-color;
  background: transparent;

  .box_head
  {
    min-height: 20px;
    padding: 8px 15px;
    background: $simpleui-base-color;
    color: #fff;
    position: relative;

    h1, h2, h3, h4, h5, h6
    {
      font: bold 12px/1.5em $simpleui-font-family;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }
  }

  .box_body
  {
    padding: 15px;
  }
}
