// --- component: box --------------------------------------------------------------------------------------------------

.box
{
  margin-bottom: 20px;
  border: $simpleui-border-width solid $simpleui-base-color;
  background: transparent;

  .box_head
  {
    min-height: 20px;
    padding: 8px 15px;
    background: $simpleui-base-color;
    color: #fff;
    position: relative;

    #{headers(all)}
    {
      font: bold 12px/1.5em $simpleui-font-family;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }

    .actions
    {
      position: absolute;
      top: 2px;
      right: 5px;

      .bt
      {
        border-color: #fff;
        color: #fff;

        &:hover
        {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }

  .box_foot
  {
    padding: 0 5px 5px;
    text-align: right;
  }

  .box_head,
  .box_foot
  {
    .actions
    {
      .bt
      {
        font-size: 10px;
        vertical-align: middle;
      }
    }
  }

  .box_body
  {
    padding: 15px;
  }
}
