// @mixin label-ui($name, $color)
// {
//   &.label_#{$name}
//   {
//     background-color: $color;
//   }
// }

// --- component: label ------------------------------------------------------------------------------------------------

.label
{
  display: inline-block;
  padding: .15em .4em;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: $simpleui-border-width solid $simpleui-base-color;

  &.invert
  {
    background: #000;
    color: #fff;
  }
}
