// @mixin label-ui($name, $color)
// {
//   &.label_#{$name}
//   {
//     background-color: $color;
//   }
// }

// --- component: label ------------------------------------------------------------------------------------------------

.label
{
  display: inline-block;
  padding: 3px 6px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}
