// --- component: progress ---------------------------------------------------------------------------------------------

progress
{
  height: 1.2em;
  -webkit-appearance: none;

  &::-webkit-progress-bar
  {
    background: $ui-base-color-opposite;
    border: $ui-border-width solid $ui-base-color;
  }

  &::-webkit-progress-value
  {
    background: $ui-base-color;
  }
}
