// --- component: table (global) ---------------------------------------------------------------------------------------

table
{
  width: 100%;
  position: relative;
  line-height: 1;
}

// --- component: table ------------------------------------------------------------------------------------------------

.table
{
  border: $simpleui-border-width solid $simpleui-base-color;
  margin: 0 0 5px;
  border-collapse: separate;

  thead
  {
    tr
    {
      th
      {
        border-bottom: $simpleui-border-width solid $simpleui-base-color;
        border-left: $simpleui-border-width solid $simpleui-base-color;
        padding: 10px 8px;
        font-weight: bold;
        text-transform: uppercase;
        background: #000;
        color: #fff;

        &:first-child
        {
          border-left: none;
        }
      }
    }
  }

  tbody
  {
    tr
    {
      td
      {
        border-left: $simpleui-border-width solid $simpleui-base-color;
        border-top: $simpleui-border-width solid $simpleui-base-color;
        padding: 9px;
        background-color: #fff;

        &:first-child
        {
          border-left: none;
        }
      }

      &:first-child
      {
        td
        {
          border-top: none;
        }
      }
    }
  }
}
