// --- page layout ----------------------------------------------------------------------------------------------------

.content
{
  padding: 20px;

  h1
  {
    padding: 15px 0;
    font-size: 50px;
    letter-spacing: -2px;
    font-weight: bold;
    text-align: center;
  }

  h2
  {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
  }

  p
  {
    line-height: 1.4em;
    padding: .3em;
  }
}

.description
{
  font-size: 16px;

  ul
  {
    padding: 10px 0 10px 25px;
    list-style: disc;

    li
    {
      padding: 2px 0;
    }
  }

  .actions
  {
    text-align: center;
    margin: 20px 0;
    padding: 40px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    a
    {
      margin: 0 5px;
      width: 23%;
    }
  }
}

.components
{
  .component
  {
    margin: 20px 0;
    padding: 20px 0;

    > h3
    {
      font-size: 12px;
      color: #999;
      padding: 0 0 20px;
      margin: 0;
    }
  }
}

.footer
{
  font-size: 12px;
  padding: 10px 0 50px;
  border-top: 1px solid #ddd;

  .credits
  {
    background: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
  }

  h1
  {
    font-size: 30px;
    letter-spacing: -1px;
  }

  a
  {
    color: #000;
    font-weight: bold;
  }
}


// --- addthis plugin -------------------------------------------------------------------------------------------------

.addthis
{
  padding: 20px 0 0;
  height: 30px;
}


// --- responsive -----------------------------------------------------------------------------------------------------

@media screen and (max-width: 640px)
{
  /* to avoid the adjustment of fonts on iOS devices you should keep this line */
  * { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

  .content
  {
    min-width: 440px;
  }
}
